# 1 ~ 10 파이썬 시작하기

1.

In [1]:
print('Hello Workd')

Hello Workd

2. (표현하고 싶은 문자열에 작은따옴표가 있다면 문자열 전체를 큰따옴표로 묶어줌)

In [2]:
print("Marys' cosmetics")

Marys' cosmetics

3. (2번의 반대도 가능하다)

In [6]:
print('신경씨가 소리질렀다. "도둑이야."')

신경씨가 소리질렀다. "도둑이야."

4.

In [7]:
print('C:\Windows')

C:\Windows

5. 

\n - 줄바꿈

\t - 탭(들여쓰기)

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")   # 안녕하세요.(줄바꿈)만나서(탭1)(탭2)반갑습니다.

안녕하세요.
만나서		반갑습니다.

In [11]:
print('안녕!\n송경씨\n오늘은\t날씨가\t참\t좋다')

안녕!
송경씨
오늘은	날씨가	참	좋다

6.

In [12]:
print('오늘은','일요일')   # 오늘은(공백)일요일

오늘은 일요일

7. sep='문자열' - 컴마로 구분된 복수의 데이터가 공백 대신 sep의 인자로 구분되어 출력된다.

In [13]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [14]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [16]:
print('Strawberry','Watermelon','Dragon Fruit',sep=' : ')

Strawberry : Watermelon : Dragon Fruit

8.

In [17]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

9.

세미콜론(;)은 한 줄에 여러 개의 명령을 작성하기 위해 사용됨

end=''은 줄바꿈 없이 출력하라는 뜻

In [20]:
print('first');print('second')

first
second

In [21]:
print('first',end='');print('second')

firstsecond

10.

In [22]:
print(5/3)

1.6666666666666667

# 11 ~ 20 파이썬 변수

11.

In [23]:
삼성전자 = 50000

총_평가금액 = 삼성전자*10

print(총_평가금액)

500000

12.

In [27]:
시가총액 = 289000000000000

현재가 = 50000

PER = 15.79

print(시가총액,type(시가총액))

print(현재가,type(현재가))

print(PER,type(PER))

289000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

13. 문자열을 공백없이 출력하려면 '+' 기호 사용

In [29]:
s = 'hello'
t = 'python'

print(s+'!',t)

hello! python

14.

In [31]:
2+2*3   # 8

8

15.

In [32]:
a = 128
print(type(a))

<class 'int'>

In [33]:
a = '132'
print(type(a))   # <class 'str'>

<class 'str'>

16.

In [34]:
num_str = '720'

print(int(num_str))

720

17.

In [37]:
num = 100
str_num = str(num)

print(str_num,type(str_num))

100 <class 'str'>

18.

In [41]:
a = '15.79'
aa = float(a)

print(aa, type(aa))

15.79 <class 'float'>

19.

In [44]:
year = '2020'

year = int(year)

print(year-2,year-1,year,type(year))

2018 2019 2020 <class 'int'>

20.

In [46]:
montly = 48584

total = montly*36

print(total)

1749024

# 21 ~ 30 파이썬 문자열

21.

In [48]:
letters = 'python'

print(letters[0],letters[2])

p t

22.

In [49]:
license_plate = '24가 2210'

print(license_plate[-4:])

2210

# 23. 슬라이싱 - 오프셋

자료[시작인덱스:끝인덱스:오프셋]

오프셋 : 몇 칸을 제외하고 출력을 이어갈 것인가

In [55]:
string = '홀짝홀짝홀짝'   # 홀 인덱스 = 0, 짝수 / 짝 인덱스 = 홀수

print(string[0],string[2],string[4])

홀 홀 홀

In [58]:
print(string[::2])

홀홀홀

In [59]:
print(string[::-1])

짝홀짝홀짝홀

In [60]:
example = '123456789'
print(example[::2])

135

In [61]:
print(example[::3])

14

In [67]:
print(example[::4])

15

In [62]:
print(example[::5])

16

In [63]:
print(example[::8])   # 1,9 ????

1

In [64]:
print(example[::7])   # ?

1

In [65]:
print(example[::6])   # ?

1

In [66]:
print(example[::5])   # ?

16

24.

In [69]:
string = 'PYTHON'

print(string[::-1])

NOHTYP

25.

In [71]:
phone_number = '010-1111-2222'

x = phone_number.replace('-',' ')

print(x)

010 1111 2222

# 26. 문자열에서 특정 문자열 제거 - strip() XX replace() OO

In [72]:
y = phone_number.strip('-')   # 왜 strip이 안 먹히지 ????
print(y)

010-1111-2222

In [89]:
new_phone_number = '-010-234-'   # 아니 왜 맨 앞뒤의 대시만 지우고 중간에 대시는 못지우지 ?????

new_phone_number.strip('-')

'010-234'

In [79]:
ex_str = "                   hello         "
ex_str.strip()

'hello'

In [90]:
xyz = "     hi          John       "   # strip()은 문자열 사이의 공백은 지워주지 못하나보다... 킹받네
xyz.strip()

'hi          John'

In [91]:
print(phone_number)

010-1111-2222

In [92]:
phone_number.replace('-','')

'01011112222'

27.

In [93]:
url = 'http://sharebook.kr'   # 슬라이싱 

print(url[-2:])

kr

In [96]:
url_list = url.split('.')   # 스플릿 > 인덱싱
print(url_list[1])

kr

# 28. 문자열은 수정 불가

문자열이 할당(assignment) 매서드를 지원하지 않아서 오류 발생

In [99]:
lang = 'python'
lang[0] = 'P'
print(lang)   # P

TypeError: 'str' object does not support item assignment

29. 소문자 a를 대문자 A로 변경

In [102]:
string = 'abcdef2a354a32a'

print(string.replace('a','A'))

Abcdef2A354A32A

# 30. 문자열은 변경 불가

In [103]:
string = 'abcd'
string.replace('b','B')
print(string)   # aBcd --> X. 문자열은 변경할 수 없는 자료형!!

abcd

In [105]:
string = 'abcd'
string_two = string.replace('b','B')   # 문자열을 변경하면 메모리에 새로운 문자열이 생성되며, 그것을 참조하여 프린트 해줘야함!!
print(string_two)

aBcd

# 31 ~ 40 파이썬 문자열

# 31. 문자열 더하기 =  문자열 연결

In [107]:
a = '3'
b = '4'
print(a+b)   # 34

34

32. 문자열 곱하기 = 문자열 반복

In [109]:
print('Hi'*3)   # HiHiHi

HiHiHi

33.

In [110]:
print('-'*80)

--------------------------------------------------------------------------------

34.

In [111]:
t1 = 'python'
t2 = 'java'

# python java python java python java python java 를 출력하라

In [113]:
print((t1+' '+t2+' ')*4)

python java python java python java python java

# 35. formatting 1 - %

%s - str

%d - int

In [126]:
# 다음과 같은 변수를 '이름: 김민수 나이: 10'의 형식으로 출력하라
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

In [119]:
print('이름: %s 나이: %d' % (name1,age1))   # formatting할 문장을 적고 그 안에 변경되는 값들을 자료형에 따라 %s의 형태로 적어줌 
print('이름: %s 나이: %d' % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [128]:
학생명부 = {                 # 딕셔너리 자료구조 포멧팅
    '안새미':28,
    '오송경':32,
    '김화영':55
}

In [129]:
for k,v in 학생명부.items():      # key와 value를 갖는 딕셔너리에 for문을 돌리기 위해서는 변수 2개와 items() 함수가 필요! 
    print('이름: %s 나이: %d' % (k,v))

이름: 안새미 나이: 28
이름: 오송경 나이: 32
이름: 김화영 나이: 55

In [124]:
학생명부['안새미']

28

# 36. formatting 2 - format()

In [132]:
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 37. formatting 3 - f-string

In [134]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

38.

str 숫자를 정수형으로 변경하기 위해서는 replace()로 컴마를 제거한 뒤, 형변환을 시켜줘야 한다.

In [138]:
상장주식수 = '5,969,782,550'

상장주식수_int = int(상장주식수.replace(',',''))

print(상장주식수_int, type(상장주식수_int))

5969782550 <class 'int'>

39.

In [140]:
분기 = '2020/03(E) (IFRS연결)'

print(분기[:7])

2020/03

# 40. strip() - 좌우 공백 제거

이때 메모리에 원본 문자열은 그대로 유지된채(data) 공백이 제거된 새로운 문자열이 반환됨(data1) !

In [145]:
data = "     삼성전자      "

data1 = data.strip()

print(data1)

삼성전자

# 41 ~ 50 파이썬 문자열

# 41.

In [147]:
ticker = 'byc_krw'   # 원본 문자열은 유지된 채 

ticker1 = ticker.upper()   # 대문자로 변경된 새로운 문자열 객체가 반환됨. 

print(ticker1)

BYC_KRW

42.

In [148]:
ticker1.lower()

'byc_krw'

43.

In [157]:
a = 'hello'
a = a.capitalize()
print(a)

Hello

44.

In [161]:
file_name = '보고서.xlsx'

In [162]:
file_name.endswith('xlsx')

True

45.

In [163]:
file_name.endswith('xlsx' or 'xls')

True

In [166]:
file_name.endswith(('xlsx','xls'))   # 소괄호 중복해서도 사용 가능 !

True

46.

In [167]:
file_name = '2020_보고서.xlsx'

file_name.startswith('2020')

True

47.

In [168]:
a = 'hello world'

print(a.split())

['hello', 'world']

48.

In [170]:
ticker = 'btc_krw'

print(ticker.split('_'))

['btc', 'krw']

In [178]:
data = '2020-05-01'

year = data.split('-')[0]
month = data.split('-')[1]
day = data.split('-')[2]

print(year)
print(month)
print(day)

2020
05
01

50.

In [180]:
data = '039490       '

a = data.rstrip()

print(a,type(a))

039490 <class 'str'>

# 51 ~ 60 파이썬 리스트

51.

In [213]:
movie_rank = []

movie_rank.append('닥터 스트레인지')
movie_rank.append('스플릿')
movie_rank.append('럭키')

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

52.

In [214]:
movie_rank.append('배트맨')

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

# 53. insert()

리스트명.insert(인덱스,원소) --> 원하는 인덱스 번호에 입력한 원소를 추가하여 리스트를 수정할 수 있다.

In [215]:
movie_rank.insert(1,'슈퍼맨')

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

# 54. del 함수

del 리스트명[인덱스] --> 해당 인덱스가 가르키는 값을 삭제한다.

In [216]:
del movie_rank[3]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

55.

In [217]:
# 스플릿과 배트맨을 del을 이용해 삭제 --> del을 이용해 하나씩 값을 삭제할 때마다 나머지 값들이 새로 인덱싱 됨에 주의!

del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '배트맨']

In [218]:
del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

# 56. 리스트끼리 더하기

두개의 리스트를 더하면 모든 원소를 순서대로 유지한채 새로운 리스트가 생성된다.

In [228]:
lang1 = ['C','C++','JAVA']     # 리스트 교집합 구하기 ?!
lang2 = ['Python','Go','C#']

langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [231]:
# 리스트 교집합 구하기 ? -- set() 사용

x = [1, 2, 3, 4, 5]
y = [4, 5, 6, 7, 8]

z = list(set(x) & set(y))

print(z)

[4, 5]

57.

In [238]:
nums = [1, 2, 3, 4, 5, 6, 7]

print('max: ',max(nums))

print('min: ',min(nums))

max:  7
min:  1

58.

In [239]:
nums = [1,2,3,4,5]

print(sum(nums))

15

59.

In [240]:
cook = ['피자','김밥','만두','양념치킨','족발','피자','김치만두','쫄면','소시지','라면','팥빙수','김치전']

print(len(cook))

12

60.

In [242]:
nums = [1,2,3,4,5]

nums_average = sum(nums)/len(nums)

print(nums_average)

3.0

# 61 ~ 70 파이썬 리스트

61.

In [243]:
price = ['20180728',100,130,140,150,160,170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [245]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

64.

In [247]:
nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

65.

In [248]:
interest = ['삼성전자', 'LG전자','Naver']

print(interest[0],interest[2])

삼성전자 Naver

# 66. join()

형식 : '구분자'.join(리스트)

리스트에 있는 요소들을 합쳐 하나의 문자열로 반환한다.

In [254]:
interest1 = ['삼성전자', 'LG전자','Naver','SK하이닉스','미래에셋대우']

print(' '.join(interest1))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [255]:
x = ['a','b','c']

y = ' '.join(x)

print(y,type(y))

a b c <class 'str'>

In [256]:
print('/'.join(interest1))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [257]:
print('\n'.join(interest1))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

69.

In [258]:
string = '삼성전자/LG전자/Naver'

interest2 = string.split('/')

print(interest2)

['삼성전자', 'LG전자', 'Naver']

70.

In [266]:
data = [2, 4, 3, 1, 5, 10, 9]   # list.sort() - 원본 데이터를 오름차순으로 정렬

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [268]:
data2 = sorted(data)   # list.sorted() - 오름차순으로 정렬된 새로운 리스트를 반환

print(data2)

[1, 2, 3, 4, 5, 9, 10]

# 71 ~ 80 파이썬 튜플

71.

In [269]:
my_variable = ()

In [272]:
print(type(my_variable))

<class 'tuple'>

72.

In [273]:
movie_rank = ('닥터 스트레인지','스플릿','럭키')

73.

In [274]:
test_tuple = (1)

In [277]:
print(test_tuple,type(test_tuple))   # 튜플 안에 하나의 정수값을 입력하면 파이썬 인터프리터가 int로 인식한다!

1 <class 'int'>

In [278]:
test_tuple = (1,)

In [280]:
print(test_tuple,type(test_tuple))  # 하나의 데이터가 저장되는 경우, 쉽표를 입력해줘야 한다 !!

(1,) <class 'tuple'>

In [282]:
x = ('가')              # 문자열도 마찬가지이다.
print(x,type(x))

y = ('가',)
print(y,type(y))

가 <class 'str'>
('가',) <class 'tuple'>

74.

In [284]:
t = (1,2,3)   # 튜플은 순서는 있지만 원소 수정이 불가능한 자료구조이다.
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

75.

In [286]:
t = 1, 2, 3, 4    # 사용자의 편의를 위해 튜플은 괄호 없이도 동작한다

print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

76.

In [288]:
# 튜플 원소 변경

t = ('a','b','c')

t = ('A','b','c')   # 새로운 튜플을 만들어서 변수 t를 업데이트 해줘야한다. 이때 기존의 튜플은 자동으로 삭제된다. 

print(t)

('A', 'b', 'c')

77.

In [302]:
interest = ('삼성전자','LG전자','SK Hynix')

type(interest)

tuple

In [290]:
list(interest)     # 리스트로 형변환된 interest를 참조해주는 변수가 없음..

print(interest,type(interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [292]:
x = list(interest)

print(x,type(x))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

78.

In [293]:
interest1 = ['삼성전자','LG전자','SK Hynix']

y = tuple(interest1)

print(y,type(y))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

# 79. 튜플 언패킹 ????? 언패킹이 뭐야

In [295]:
temp = ('apple','banana','cake')

a,b,c, = temp

print(a,b,c)

apple banana cake

# 80. range()로 튜플 생성  --> 해설강의 보기!

In [300]:
# 1 ~ 99까지의 정수 중 짝수만 저장된 튜플을 생성하세요

data = tuple(range(2, 100, 2))   # 생성한 튜플을 변수로 참조해 줘야함! / 왜 100까지지 ?????


print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81 ~ 90 파이썬 딕셔너리

# 81. 데이터 언패킹 고급 --> 해설강의 보기 !! (81,82,83)

In [303]:
# 데이터 언패킹

shopping_list = ['스킨로션','봄운동화','생크림(휘핑크림X)','아이패드']

쿠팡,네이버쇼핑,이마트,애플스토어 = shopping_list

print(애플스토어)

아이패드

In [304]:
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야함. 

# 하지만 별(*)을 사용하면 변수의 개수가 달라도 데이터 언패킹이 가능.

In [307]:
people_around_me = ('오송경','김화영,안정환','정선아','이성진','한정윤','강태우')

남친,가족,친구,*직장동료 = people_around_me   # 앞에서 3개만 개별 변수로 바인딩 하고 나머지는 떼로 묶어서 바인딩

print(남친,type(남친))
print(직장동료,type(직장동료))

오송경 <class 'str'>
['이성진', '한정윤', '강태우'] <class 'list'>

In [310]:
scores = [8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]

*valid_score, _, _ = scores   # 앞 8개만 valid_score로 바인딩하고, 나머지는 두개는 '_'처리, 바인딩 안함

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

82.

In [312]:
scores = [8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]

a,b,*valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

83.

In [314]:
scores = [8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]

a,*valid_scores,b = scores

print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

84.

In [315]:
temp = {}

print(temp,type(temp))

{} <class 'dict'>

85.

In [317]:
ice_cream = {
    '메로나':1000,
    '폴라포':1200,
    '빵빠레':1800
}

print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

# 86. 딕셔너리 값 추가

딕셔너리 변수에 키와 값을 추가해준다.

In [320]:
ice_cream['죠스바'] = 1200   # 딕셔녀리[키] = 값     의 형태로 추가해준다.

ice_cream['월드콘'] = 1500

print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

87.

In [322]:
print('메로나 가격: ',ice_cream['메로나'])   # 딕셔너리에서 value는 key로 인덱싱해서 보여준다 !

메로나 가격:  1000

88.

In [323]:
ice_cream['메로나'] = 1300

print(ice_cream)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 89. 딕셔너리 키 삭제 - pop() / del

In [329]:
ice_cream.pop('메로나',None)
print(ice_cream)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [330]:
ice = {'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

del ice['메로나']

print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

90.

In [333]:
print(ice_cream)

ice_cream['누가바']   # 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러 발생

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

KeyError: '누가바'

# 91 ~ 100

91.

In [335]:
inventory = {
    '메로나':[300,20],
    '비비빅':[400,3],
    '죠스바':[250,100]
}

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

92.

In [340]:
print(inventory['메로나'][0],'원')   # dict 인덱싱 : dict[키][값이 자료구조형태일 경우 값의 인덱싱 번호]

300 원

93.

In [341]:
print(inventory['메로나'][1],'개')

20 개

94.

In [347]:
inventory['월드콘'] = [500,7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

# 95. list() - 리스트 생성

In [348]:
icecream = {
    '탱크보이':1200,
    '폴라포':1200,
    '빵빠레':1800,
    '월드콘':1500,
    '메로나':1000
}

In [352]:
icecream_keys = list(icecream.keys())
print(icecream_keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

96.

In [354]:
icecream_values = list(icecream.values())

print(icecream_values)

[1200, 1200, 1800, 1500, 1000]

97.

In [355]:
sum(icecream_values)

6700

In [356]:
sum(icecream.values())

6700

# 98. 딕셔너리에 값 추가 - update()

In [358]:
new_product = {'팥빙수':2700,'아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

# 99. zip() - 두 자료그룹의 데이터를 엮어준다 - 해설강의 듣기!!!!

In [359]:
keys = ('apple','pear','peach')
vals = (300,250,400)

In [368]:
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

# 100. zip() - 해설 듣기!!!

In [370]:
date = ['09/05','09/06','09/07','09/08','09/09']
close_price = [10500,10300,10100,10800,11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [371]:
'해설강의 듣기'

23
26
28

30
35
36
37

40

53
54
56

66

79
80

81,82,83
89

98
99
100

100