# 201 ~ 210 파이썬 함수

201.

In [14]:
def print_coin():
    for i in '비트코인':
        print(i)
    print(' ')
    return print(i)     # 왜 '인'이 두번 출력되지 ?! // 포문 루프 끝난 뒤 맨 마지막 루프값이 한번 더 출력되서 ?!

print_coin()

비
트
코
인

인

In [13]:
def print_coin():
    for i in '비트코인':
        print(i)     # 이러면 멀쩡한데...

print_coin()

비
트
코
인

In [17]:
# Answer

def print_coin():
    print('비트코인')

print_coin()

비트코인

202.

In [18]:
print_coin()

비트코인

203.

In [27]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [29]:
print(type(print_coin()))   # 함수는 NoneType인가 ?!

비트코인
<class 'NoneType'>

204.

In [30]:
def print_coin_100():
    for i in range(100):
        print_coin()

print_coin_100()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [31]:
# Answer

def print_coin():
    for i in range(100):
        print('비트코인')

205.

In [33]:
hello()   # 함수가 정의되기 전에 호출당할시 에러 발생

def hello():
    print('Hi')

hello()

NameError: name 'hello' is not defined

206.

In [34]:
def message():
    print('A')
    print('B')

message()
print('C')
message()

# A
# B
# C
# A
# B

A
B
C
A
B

207.

In [ ]:
print('A')

def message():
    print('B')

print('C')
message()

# A
# C
# B

208.

In [ ]:
print('A')
def message1():
    print('B')
print('C')
def message2():
    print('D')
message1()
print('E')
message2()

# A
# C
# B
# E
# D

209.

In [ ]:
def message1():
    print('A')

def message2():
    print('B')
    message1()

message2()

# B
# A

210.

In [ ]:
def message1():
    print('A')

def message2():
    print('B')
    
def message3():
    for i in range(3):
        message2()
        print('C')
    message1()

message3()

# B
# C
# B
# C
# B
# C
# A

# 211 ~ 220 파이썬 함수

211.

In [1]:
def 함수(문자열):
    print(문자열)

함수('안녕')
함수('Hi')

# '안녕'
# 'Hi'

안녕
Hi

In [2]:
def 함수(a,b):
    print(a+b)
    
함수(3,4)
함수(7,8)

# 7
# 15

7
15

213

In [3]:
def 함수(문자열):
    print(문자열)

함수()

# 변수 입력 안해줘서 오류 발생 --> !파라미터!

TypeError: 함수() missing 1 required positional argument: '문자열'

214

In [4]:
def 함수(a,b):
    print(a+b)

함수('안녕',3)   # 문자열 + int (X)

TypeError: can only concatenate str (not "int") to str

# 215 - 인자값에 무슨 문제가 있어서 오류가 발생하는가? - 강의 들어보기

In [34]:
a = input()

def print_with_smile():
    print(a+':D')

print_with_smile()

Good
Good:D

In [40]:
# Answer

def print_with_smile(string):
    print(string+':D')

print_with_smile('Good')

Good:D

In [39]:
def smile(a):
    print(a+':D')

print_with_smile(nice)   # 함수 호출시 입력된 인자값에 문제가 있음. 무슨 문제가 있을까 ?!

NameError: name 'nice' is not defined

216.

In [41]:
print_with_smile('안녕하세요')

안녕하세요:D

In [42]:
def print_upper_price(current_price):
    print(current_price*1.3)

print_upper_price(1000)

1300.0

In [44]:
def print_sum(a,b):
    print((a+b))
    
print_sum(10,50)

60

In [46]:
def print_arithmetic_operation(a,b):
    print('sum : ',a+b)
    print('minus: ',a-b)
    print('mutiple: ',a*b)
    print('devide: ',a/b)
    
print_arithmetic_operation(100,10)

sum :  110
minus:  90
mutiple:  1000
devide:  10.0

# 220.  문제해설 이해 안감 ???

In [47]:
def print_max(a,b,c):
    if a > b and a > c:
        print(a)
    elif b > c:
        print(b)
    else:
        print(c)

print_max(9,8,10)

10

In [49]:
# Answer

def print_max(a,b,c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    print(max_val)
    
print_max(9,8,5)

9

# 221 ~ 230 파이썬 함수

221.

In [51]:
# 입력된 문자열을 역순으로 출력하는 함수

def print_reverse(string):
    for i in string:
        x = string[::-1]
    print(x)
    
print_reverse('Great')

taerG

In [52]:
def print_reverse(string):
    for i in string:
        print(string[::-1])   # i를 인자값으로 받은 문자열의 문자 수 만큼 반복하기 때문에 이 경우 총 5번 출력됨
    
print_reverse('Great')

taerG
taerG
taerG
taerG
taerG

In [54]:
# Answer

def print_reverse(string):
    print(string[::-1])
    
print_reverse('Good Job')

boJ dooG

222.

In [65]:
# 성적 리스트를 입력받아 평균을 출력하는 함수  [50,90,100] / 80

def print_score(a):
    sum = 0
    for i in a:
        sum = sum + i
        
        x = sum / len(a)
    print(x)

print_score([50,90,100])

80.0

223.

In [66]:
#  리스트를 입력받아 짝수만 화면에 출력   # [1,3,2,10]

def print_even(a):
    x = []
    
    for i in a:
        if i%2 == 0:
            x.append(i)
    print(x)
    
print_even([1,3,2,10])   # x = []의 위치에 따라 달라지는 결과값 확인해보기 !

[2, 10]

In [67]:
#  리스트를 입력받아 짝수만 화면에 출력   # [1,3,2,10]

def print_even(a):
    
    for i in a:
        x = []               # for문의 루프가 새로 돌아갈 때마다 리스트 x가 텅 빈 상태에서 시작 > 맨 마지막 x만 출력
        if i%2 == 0:
            x.append(i)
    print(x)
    
print_even([1,3,2,10])

[10]

In [70]:
# Answer

def print_even(a):
    for i in a:
        if i%2 == 0:
            print(i)
            
print_even([1,3,2,10])

2
10

# 224. keys()  함수 복습

In [71]:
def print_keys(a):
    for k,v in a.items():
        print(k)

print_keys({'과자':1000,'과일':3000,'커피':500})

과자
과일
커피

In [73]:
# Answer

def print_keys(a):
    for i in a.keys():
        print(i)
        
print_keys({'과자':1000,'과일':3000,'커피':500})

과자
과일
커피

225.

In [77]:
# 키을 입력받아 해당 키값을 출력하는 함수

my_dict = {
    '10/26':[100,130,100,100],
    '10/27':[10,12,10,11]
}

def print_value_by_key(a):
    b = input('Please enter date: ')
    
    for k,v in a.items():
        if b == k:
            print(a[k])

print_value_by_key(my_dict)

Please enter date: 10/26
[100, 130, 100, 100]

In [80]:
# Answer

def print_value_by_key(a,key):
    print(a[key])

print_value_by_key(my_dict,'10/27')

[10, 12, 10, 11]

# 226. 해설이 이해가 안감

In [117]:
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 함수  # 하이데얼하.우아유굿헤.브어나이스.데이 (17 > 5/5/5/3)

def print_5xn(string):
     
    x = len(string)//5  # x = 3
    y = len(string)%5  # y = 2
    z = 5*x
    
    for i in range(x):   # i = 0, 1, 2 
        print(string[5*i:5*(i+1)])
    
    for i in range(1,len(string)+1):   # i = 1 ~ 17
        if i == z:
            print(string[z:])

print_5xn('하이데얼하우아유굿헤브어나이스데이')

하이데얼하
우아유굿헤
브어나이스
데이

In [121]:
# Answer

def print_5xn(line):
    chunk_num = int(len(line)/5)
    for i in range(chunk_num+1):
        print(line[i * 5: i * 5 + 5])
        
print_5xn('하이데얼하우아유굿헤브어나이스데이')

하이데얼하
우아유굿헤
브어나이스
데이

In [116]:
# Error

# 입력 문자열을 한 줄에 다섯글자씩 출력하는 함수  # 하이데얼하.우아유굿헤.브어나이스.데이 (17 > 5/5/5/3)

def print_5xn(string):
    # print(string[:5])
    # print(string[5:10])
    # print(string[10:15])
     
    x = len(string)//5  # x = 3
    y = len(string)%5  # y = 2
    
    for i in x:   # i = 0, 1, 2   // 정수형(int)는 for문으로 돌릴 수 없다. 이때 range() 함수를 써주면 된다 
        print(string[5*i:5*(i+1)])

print_5xn('하이데얼하우아유굿헤브어나이스데이')

TypeError: 'int' object is not iterable

In [118]:
# Error

# 입력 문자열을 한 줄에 다섯글자씩 출력하는 함수  # 하이데얼하.우아유굿헤.브어나이스.데이 (17 > 5/5/5/3)

def print_5xn(string):
     
    x = len(string)//5  # x = 3
    y = len(string)%5  # y = 2
    z = 5*x
    
    for i in range(x):   # i = 0, 1, 2 
        print(string[5*i:5*(i+1)])
    
    for i in string:   # i = 1 ~ 17
        if len(string[i]) == z:   # 문자열의 인덱스는 정수형만 넣을 수 있다. 이때 string[i]에서 i는 정수형이 아니기 때문에 오류 발생
            print(string[z:])

print_5xn('하이데얼하우아유굿헤브어나이스데이')

하이데얼하
우아유굿헤
브어나이스

TypeError: string indices must be integers, not 'str'

# 227. 문제해설이 이해가 안감..

In [124]:
# 문자열과 한줄에 출력될 글자 수를 입력받아 문자열을 글자 수 만큼 출력하는 함수를 작성하라

def print_mxn(string,num):
    
    x = len(string)//num  # x = 3
    y = len(string)%num  # y = 2
    z = num*x
    
    for i in range(x):   # i = 0, 1, 2 
        print(string[num*i:num*(i+1)])
    
    for i in range(1,len(string)+1):   # i = 1 ~ 17
        if i == z:
            print(string[z:])


print_mxn('하이데얼하우아유굿헤브어나이스데이',2)

하이
데얼
하우
아유
굿헤
브어
나이
스데
이

In [127]:
def print_num(line,num):
    chunk_num = int(len(line)/num)
    for x in range(chunk_num+1):
        print(line[x*num:x*num+num])

print_mxn('하이데얼하우아유굿헤브어나이스데이',2)

하이
데얼
하우
아유
굿헤
브어
나이
스데
이

228.

In [129]:
# 연봉을 입력받아 월급을 계산하는 함수를 정의하라. 연봉은 12개월 분할 지급이며, 이때 1원 미만은 버림한다.

def calc_monthly_salary(a):
    monthly_paycheck = int(a/12)
    return monthly_paycheck
    
calc_monthly_salary(42000000)

3500000

229.

In [131]:
def my_print(a,b):
    print('왼쪽:',a)
    print('오른쪽:',b)
    
my_print(a=100,b=200)

# 왼쪽: 100
# 오른쪽: 200   - 프린트 속 컴마는 공백을 의미한다

왼쪽: 100
오른쪽: 200

230.

In [132]:
def my_print(a,b):
    print('왼쪽:',a)
    print('오른쪽:',b)
    
my_print(b=100,a=200)

# 왼쪽: 200
# 오른쪽: 100   - 프린트 속 컴마는 공백을 의미한다

왼쪽: 100
오른쪽: 200

# 231 ~ 240

231.

In [133]:
def n_plus_1():
    result = n + 1
    
n_plus_1(3)
print(result)

# 에러 : n_plus_1(3)는 4인데 이 값을 참조해주는게 없음. 또한 n_plus_1() 함수 밖에서 result는 정의되지 않았기 때문에 정의되지 않음이라고 나올듯

TypeError: n_plus_1() takes 0 positional arguments but 1 was given

232.

In [147]:
# 문자열을 입력받아 안터넷 주소를 반환하는 함수를 정의하라

def make_url(string):
    url = 'www.'+string+'.com'
    return url
    
make_url('naver')

'www.naver.com'

233.

In [148]:
# 문자열을 입력받아 각 문자들로 구성된 리스트를 반환하는 함수를 정의하라

def make_list(string):
    y = []
    for i in range(len(string)):
        x = string[i]
        y.append(x)
    return y

make_list('string')

['s', 't', 'r', 'i', 'n', 'g']

In [150]:
# Answer

def make_list(string):
    y = []
    for i in range(len(string)):
        y.append(string[i])   # <-- Make it simple!
    return y

make_list('string')

['s', 't', 'r', 'i', 'n', 'g']

234.

In [151]:
# 숫자로 구성된 하나의 리스트를 입력받아 짝수들을 추출하여 리스트로 반환하는 함수를 정의하라

def pickup_even(a):
    x = []
    for i in a:
        if i%2 == 0:
            x.append(i)
    return x

pickup_even([1,3,67,3,28,6])

[28, 6]

# 235. replace() 함수로 더 짧고 효율적인 코드를!

In [163]:
# 컴마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라
# '1923,432,2'

def convert_int(a):
    x = a.split(',')
    
    total = ''
    for i in x:
        total = total + i
    
    y = int(total)
    return y

convert_int('1923,432,2')

19234322

In [164]:
# Answer

def convert_int(a):
    return int(a.replace(',',''))

convert_int('1923,432,2')

19234322

236.

In [ ]:
def x(num):
    return num + 4

a = x(10) = 14
b = x(a) = 18
c = x(b) = 22
print(c) 

# str+int = error (x) / 변수 a = 10이기 때문에 계속 간다

237.

In [167]:
def x(num):
    return num + 4

c = x(x(x(10)))
print(c)

# 22

22

238.

In [169]:
def x1(num):
    return num + 4

def x2(num):
    return num * 10

a = x1(10) # 14
c = x2(a) # 140 

print(c)

140

239.

In [170]:
def x1(num):
    return num + 4

def x2(num):
    num = num + 2
    return x1(num)

c = x2(10)
print(c)   # 16

16