# 파이썬 분기문

101.

In [2]:
bool

bool

102.

In [5]:
print(3 == 5)   # False

False

In [6]:
print(3 < 5)   # True

True

104.

In [7]:
x = 4
print(1 < x < 5)  # True

True

105.

In [8]:
print((3 == 3) and (4 != 3))   # True

True

106.

In [10]:
print(3 => 4)   # 지원하지 않는 연산자

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1159046408.py, line 1)

107.

In [12]:
if 4 < 3:
    print('Hello World')   # 조건을 만족하지 않기 때문에(False) 아무 결과도 출력되지 않는다.

108.

In [13]:
if 4 < 3:
    print('Hello World')
else:
    print('Hi, there.')   # Hi, there.

Hi, there.

# 109. True가 디폴트인가 ?? - 해설강의 듣기

In [14]:
if True : 
    print('1')
    print('2')
else :
    print('3')
print('4')   # 1 / 2 / 4

1
2
4

# 110.  - 해설강의 듣기

In [15]:
if True :
    if False :
        print('1')
        print('2')
    else :
        print('3')
else :
    print('4')
print('5')   # 3 / 5

3
5

# 111 ~ 120. 파이썬 분기문

111.

In [ ]:
# 사용자로부터 입력받은 값을 두 번 출력해라

z = input('Please Enter: ')   # print(input('Please Enter: '))을 안하고 변수로 저장만 했는데도 출력되네?

print(z+z)

In [10]:
print(input('Enter: '))   # 사용자에게 입력하라는 창 출력 > 사용자가 입력하면 그 값을 리턴해줌

Enter:

112.

In [16]:
x = input('숫자를 입력하세요: ')   # 사용자가 입력할 값을 정수로 받는다
print(int(x)+10)

숫자를 입력하세요: 89
99

113.

In [17]:
x = int(input('Please enter : '))   # 사용자 입력값은 str로 저장된다

if x%2 == 0:
    print('짝수')
else:
    print('홀수')

Please enter : 19
홀수

114.

In [20]:
x = int(input('Please enter : '))

y = x+20

if y > 255:
    print(int(255))
else :
    print(y)

Please enter : 234
254

115.

In [23]:
x = int(input('Please enter : '))

y = x - 20

if 0 <= y <= 255:
    print(y)
elif y < 0:
    print(int(0))
else:
    print(int(255))

Please enter : 500
255

In [24]:
x = int(input('Please enter : '))   # 더 한눈에 보기 쉽게 짠 코드!

y = x - 20

if y > 255:
    print(255)
elif y < 0:
    print(0)
else:
    print(y)

Please enter : 0
0

116.

In [28]:
x = input('00:00 형식으로 시간을 입력해 주세요 : ')

if x.endswith('00'):
    print('정각 입니다.')
else:
    print('정각이 아닙니다.')

00:00 형식으로 시간을 입력해 주세요 : 02:12-
정각이 아닙니다.

# 117. 어떤 값이 자료형에 있는가 없는가? in 키워드

In [31]:
fruit = ['사과','포도','홍시']

x = input('좋아하는 과일은?')

for i in fruit:
    if x == i:
        print('정답입니다.')
    else:
        pass

좋아하는 과일은?포도
정답입니다.

In [32]:
# in 키워드를 사용한 문제해설

fruit = ['사과','포도','홍시']

x = input('좋아하는 과일은?')

if x in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은?홍시
정답입니다.

118.

In [34]:
warn_investment_list = ['Microsoft','Google','Naver','Kakao','SAMSUNG','LG']

x = input('Please enter : ')

if x in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

Please enter : Google
투자 경고 종목입니다.

# 119.  해설 강의 듣기

딕셔너리에서 따로 키와 값의 구분 없이도 in 키워드를 써서 값이 있는지 없는지를 알 수 있음

In [36]:
fruit = {
    '봄':'딸기',
    '여름':'토마토',
    '가을':'사과'
}

k = fruit.keys()
print(k)

dict_keys(['봄', '여름', '가을'])

In [40]:
x = input('제일 좋아하는 계절은 : ')    # 키의 데이터와 값의 데이터를 구분

if x in k:
    print('정답입니다.')
else:
    print('오답입니다.')

제일 좋아하는 계절은 : 딸기
오답입니다.

In [49]:
fruit = {              # 해설 : 해설에서 딕셔너리 키와 값을 구분하지 않음. 이때 사용자가 value에 해당하는 입력을 하더라도 제대로 출력됨
    '봄':'딸기',
    '여름':'토마토',
    '가을':'사과'
}

x = input('제일 좋아하는 계절은 : ')

if x in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

제일 좋아하는 계절은 : 딸기
오답입니다.

# 120. 119번과 함께 해설강의 듣기

In [50]:
fruit = {                        # 위에 것과 비교해서 해설강의 들어보기!
    '봄':'딸기',
    '여름':'토마토',
    '가을':'사과'
}

x = input('제일 좋아하는 과일은 : ')

if x in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

제일 좋아하는 과일은 : 딸기
정답입니다.

# 121 ~ 130. 파이썬 분기문

# 121. 변수.islower() --> 변수가 소문자인지를 T/F로 알려준다

In [67]:
x = input('Please enter: ')   # 맨 첫번째 문자만 대소문자를 바꿔주네? str 전체를 바꾸려면 어떻게 해야하지?

if x.islower():
    print(x.upper())
else:
    print(x.lower())

Please enter: I love you
i love you

122.

In [71]:
x = int(input('Please enter your score: '))

if x <= 20:
    print('E')
elif x <= 40:
    print('D')
elif x <= 60:
    print('C')
elif x <= 80:
    print('B')
elif x <= 100:
    print('A')

Please enter your score: 89
A

# 123. 환율[currency] -->의 의미 ???  해설 강의 보고 이해됨. 다시 복습해보기

In [77]:
x = input('Please enter: ')   # 100 달러 : int+space+str

y = int(x.split()[0])

z = x.split()[1]

if z == '달러':
    print(y*1167,'원')
elif z == '엔':
    print(y*1.096,'원')
elif z == '유로':
    print(y*1268,'원')
else:
    print(y*171,'원')

Please enter: 100 위안
17100 원

In [78]:
# 문제해설 - 조금 더 간단하게

환율 = {                     # 화폐단위와 환율을 dict로 저장
    '달러':1167,
    '엔':1.096,
    '유로':1268,
    '위안':171,
}

user = input('Enter: ')    # 사용자에게 입력값을 받음 : num+space+currency

num, currency = user.split()         # 언패킹 ㅇㅇ : num, currency = 사용자 입력값을 공백 기준으로 나누고 앞에걸 num으로 바인딩

print(float(num)*환율[currency],'원') # 사용자 입력값 중 num을 float으로 형변환 * 사용자 입력값중 currency를 키로 갖는 dict의 값

Enter: 100 달러
116700.0 원

124.

In [82]:
x = input('Number 1: ')
y = input('Number 2: ')
z = input('Number 3: ')

print(max(x,y,z))

Number 1: 20
Number 2: 15
Number 3: 1
20

# 125. 문자해설 - f-string 복습하기!

In [95]:
x = input('휴대전화 번호 입력: ')   # 010-1111-1111
y = x.split('-')[0]   # 010, str

if y == '011':
    print('SKT 사용자입니다.')
elif y == '016':
    print('KT 사용자입니다.')
elif y == '019':
    print('LGU 사용자입니다.')
elif y == '010':
    print('알수없음')
else:
    print('Error')

휴대전화 번호 입력: 011-2222-22
SKT 사용자입니다.

In [96]:
# 문제해설

x = input('휴대전화 번호 입력: ') 
y = x.split('-')[0]   # 010, str

if y == '011':
    company = 'SKT'
elif y == '016':
    company = 'KT'
elif y == '019':
    company = 'LGU'
else:
    company = '알수없음'

print(f'당신은 {company}사용자 입니다.')   # f-string 복습

휴대전화 번호 입력: 011-2222-2222
당신은 SKT사용자 입니다.

f-string : 문자열 내에 변수 값 삽입.

f-string은 문자열 앞에 f 또는 F 접두사를 붙여 사용하며, 중괄호 {} 내에 변수나 표현식을 넣어 자동으로 문자열로 변환해준다.

# 126.    논리연산자 or 사용법?! 찾아보기

In [105]:
x = int(input('우편번호: '))   # 12345

y = x[2]   # 3

if y == 0 or 1 or 2:
    print('강북구')
elif y == 3 or 4 or 5:   # 이게 발동되어야 하는데... 정수는 인덱싱이 불가능하기 때문에 에러 발생!! 
    print('도봉구')
else:
    print('노원구')

우편번호: 12345

TypeError: 'int' object is not subscriptable

In [108]:
x = input('우편번호: ')   # '12345'

y = x[2]   # '3'

y = int(y)   # 3 - x에서 인덱싱으로 y를 만든 다음 형변환을 해줌 

if y == 0 or 1 or 2:   # 논리연산자 or 때문에 에러 발생 
    print('강북구')
elif y == 3 or 4 or 5: 
    print('도봉구')
else:
    print('노원구')

우편번호: 12345
강북구

In [111]:
3 == 0

False

In [110]:
3 == 0 or 1 or 2   # 아니 이게 왜 불리언이 안나오고 1이 나오지 ????????

1

In [116]:
x = input('우편번호: ')   # '12345'

y = x[2]   # '3'

y = int(y)   # 3 - x에서 인덱싱으로 y를 만든 다음 형변환을 해줌 

강북구 = [0,1,2]
도봉구 = [3,4,5]
노원구 = [6,7,8,9]

if y in 강북구:   # 논리연산자 or 때문에 에러 발생 
    print('강북구')
elif y in 도봉구: 
    print('도봉구')
else:
    print('노원구')

우편번호: 55555
도봉구

127.

In [128]:
x = input('주민등록번호: ')   # 960227-3987890

y = x.split('-')[1][0]   # 3987890에서 3, str

y = int(y)   # int로 형변환

if y in [1,3]:   
    print('남자')
else:
    print('여자')

주민등록번호: 098234-10000
남자

128.

In [139]:
# 2{01}8918 --> 지역코드(출생지)

x = input('주민등록번호: ')   # 960227-3987890

y = x.split('-')[1][1:3]   # 3987890에서 98, str

if y in ['00','01','02','03','04','05','06','08']:
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 960227-3007890
서울 입니다.

In [141]:
# 문제풀이

주민번호 = input('주민등록번호: ')

뒷자리 = 주민번호.split('-')[1]

if 0 <= int(뒷자리[1:3]) <= 8:
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 960227-3987890
서울이 아닙니다.

129.

In [ ]:
960227-201 8  9  1  {8}
0123456789 10 11 12

In [ ]:
x = input('주민등록번호: ')   # '960227-3987890'

y = x.split('-')[0]   # 앞 6자리, str   # '960227'

z = x.split('-')[1]   # 뒤 7자리, str   # '3987890'

q = (int(y[0])*2 + int(y[1])*3 + int(y[2])*4 + int(y[3])*5 + int(y[4])*6 + int(y[5])*7 + int(z[0])*8 + int(z[1])*9 + int(z[2])*2 + int(z[3])*3 + int(z[4])*4 + int(z[5])*5)%11
     # 128 나누기 11을 해서 나온 나머지, int

if (11-q) == int(x[-1:]):
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

# 130. print(btc)가 안됨... - 나중에 다시 해보기!!

In [ ]:
import requests
btc = requests.get("https://api.bithub.com/public/ticker/").json()['data']

변동폭 = btc['max_price'] - btc['min_price']   # 최고가 - 최저가 

if (btc['opening_price'] + 변동폭)>= btc['max_price']:
    print('상승장')
else:
    print('하락장')

# 131 ~ 140 파이썬 반복문

131.

In [157]:
과일 = ['사과','귤','수박']

for i in 과일:
    print(i)   # 사과, 귤, 수박 --> 줄바꿈 해서 나타남

사과
귤
수박

132.

In [158]:
for i in 과일:
    print('#####')   # ##### /n ##### /n #####

#####
#####
#####

133.

In [165]:
for i in ['A','B','C']:
    print(i)

A
B
C

In [164]:
# for문 동작 과정

i = 'A'
print(i)

i = 'B'
print(i)

i = 'C'
print(i)

A
B
C

134.

In [159]:
for i in ['A','B','C']:
    print('Print:',i)

Print: A
Print: B
Print: C

In [166]:
# for문 동작과정

i = 'A'
print('Print:',i)

i = 'B'
print('Print:',i)

i = 'C'
print('Print:',i)

Print: A
Print: B
Print: C

135.

In [167]:
for i in ['A','B','C']:
    b = i.lower()
    print('변환:',b)

변환: a
변환: b
변환: c

In [168]:
# for문 동작과정

i = 'A'
b = i.lower()   # = a
print('변환:',b)   # 변환: a

i = 'B'
b = i.lower()
print('변환:',b)

i = 'C'
b = i.lower()
print('변환:',b)

변환: a
변환: b
변환: c

136.

In [169]:
for i in [10,20,30]:
    print(i)

10
20
30

137.

In [170]:
for i in [10,20,30]:
    print(i)

10
20
30

138.

In [171]:
for i in [10,20,30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

139.

In [172]:
print('++++')

for i in [10,20,30]:
    print(i)

++++
10
20
30

140.

In [173]:
for i in range(4):
    print('-------')

-------
-------
-------
-------

In [175]:
for i in ['가','나','다','라']:    # 데이터가 4개인 자료구조를 넣었을 때에도 동일한 출력값!
    print('-------')

-------
-------
-------
-------

# 141 ~ 150 파이썬 반복문

141.

In [179]:
리스트 = [100,200,300]

for i in 리스트:
    print(i+10)

110
210
310

142.

In [180]:
리스트 = ['김밥','라면','튀김']

for i in 리스트:
    print('오늘의 메뉴: '+ i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

143.

In [181]:
리스트 = ['SK하이닉스','삼성전자','LG전자']

for i in 리스트:
    print(len(i))

6
4
4

144.

In [183]:
리스트 = ['dog','cat','parrot']

for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

 145.

In [184]:
리스트 = ['dog','cat','parrot']

for i in 리스트:
    print(i[0])

d
c
p

146.

In [185]:
리스트 = [1,2,3]

for i in 리스트:
    print('3','x',i)

3 x 1
3 x 2
3 x 3

# 147. format() 함수를 사용하여 더 간결하게 표현하기

In [186]:
리스트 = [1,2,3]

for i in 리스트:
    print('3','x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [187]:
리스트 = [1,2,3]

for i in 리스트:
    print('3 x {} = {}'.format(i,i*3))   # format() 함수를 사용하여 변수 등록!

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

# 148. for문의 자료구조에 슬라이싱을 직접 입력하기

In [188]:
리스트 = ['가','나','다','라']

for i in 리스트:
    if i == '가':
        pass
    else:
        print(i)

나
다
라

In [191]:
# 문제해설 1 - 원하는 값들만을 포함하는 새로운 리스트 생성

리스트 = ['가','나','다','라']
new_리스트 = 리스트[1:]   # 슬라이싱을 통해 새로운 리스트 생성

for i in new_리스트:
    print(i)

나
다
라

In [193]:
# 문제해설 2 - 가장 간단한 방법

리스트 = ['가','나','다','라']

for i in 리스트[1:]:   # for문의 자료구조에 슬라이싱한 코드를 작성할 수도 있음 !!
    print(i)

나
다
라

# 149. for문의 자료구조에 슬라이싱 + 오프셋을 직접 입력하기

리스트[시작인덱스:끝인덱스:증감폭]

In [196]:
리스트 = ['가','나','다','라']

for i in 리스트[::2]:
    print(i)

가
다

150.

In [197]:
리스트 = ['가','나','다','라']

for i in 리스트[::-1]:
    print(i)

라
다
나
가

# 151 ~ 160 파이썬 반복문

151.

In [198]:
리스트 = [3,-20,-3,44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

152.

In [199]:
리스트 = [3,100,23,44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

153.

In [200]:
리스트 = [13,21,12,14,30,18]

for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

154.

In [201]:
리스트 = ['I','study','python','language','!']

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

155.

In [202]:
리스트 = ['A','b','c','D']

for i in 리스트:
    if i.isupper():
        print(i)

A
D

156.

In [203]:
리스트 = ['A','b','c','D']

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [205]:
리스트 = ['A','b','c','D']

for i in 리스트:
    if not i.isupper():   # 논리연산자 not을 사용 !
        print(i)

b
c

157.

In [214]:
리스트 = ['dog','cat','parrot']

for i in 리스트:
    print(i.title())

Dog
Cat
Parrot

In [215]:
리스트 = ['dog','cat','parrot']

for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [218]:
# 문제해설

리스트 = ['dog','cat','parrot']

for i in 리스트:
    x = i[0].upper()
    y = i[1:].lower()
    print(x+y)

print('==========')
    
for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot
==========
Dog
Cat
Parrot

In [221]:
리스트 = ['dog','cat','parrot']   # 이렇게 하면 왜 실행이 안되지 ???

for i in 리스트:
    i[0].upper
    print(i)

dog
cat
parrot

158.

In [224]:
리스트 = ['hello.py','ex01.py','intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

159.

In [225]:
리스트 = ['intra.h','intra.c','define.h','run.py']

for i in 리스트:
    if i.endswith('.h'):
        print(i)

intra.h
define.h

160.

In [226]:
리스트 = ['intra.h','intra.c','define.h','run.py']

for i in 리스트:
    if i.endswith('.h') or i.endswith('.c'):
        print(i)

intra.h
intra.c
define.h

# 161 ~ 170 파이썬 반복문

161.

In [227]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

162.

In [232]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

163.

In [234]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

# 164. 복습하기

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [240]:
# 문제해설

for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

# 165. 복습하기

문제해설같이 풀수도있다!

In [242]:
# 0.0, 0.1, ... , 0.9

for i in range(10):
    print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [243]:
# 문제해설

for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

166.

In [248]:
for i in range(1,10):
    print('3x'+str(i),'=',i*3)

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

167.

In [250]:
for i in range(1,10,2):
    print('3x'+str(i),'=',i*3)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [252]:
# for문 + 조건문으로 만들기

for i in range(1,10):
    if not i % 2 == 0:
        print('3x'+str(i),'=',i*3)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

# 168.  n = 0, n = n + i    : 누적 합 구하는 공식 - 복습하기

1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 사용하여 작성하라

In [264]:
pass

i가 1을 바인딩할 때,
i = 1

i가 2를 바인딩할 때,
i = i(1) + i(1) = 2


i가 3을 바인딩할 때,
i = i(2) + 1 = 3

i가 4를 바인딩할 때,
i = i(3) + 1 = 4

i가 5를 바인딩할 때,
i = i(4) + 1 = 5

SyntaxError: invalid syntax (293164125.py, line 3)

In [272]:
hab = 0

for i in range(1,11):
    hab = hab + i          # 변수 합 = 기존의 합 + i
print(hab)

55

In [ ]:
i = 1, hab = 0 + 1 = 1

i = 2, hab = 1 + 2 = 3

i = 3, hab = 3 + 3 = 6

i = 4, hab = 6 + 4 = 10

i = 5, hab = 10 + 5 = 15

i = 6, hab = 15 + 6 = 21

i = 7, hab = 21 + 7 = 28

i = 8, hab = 28 + 8 = 36

i = 9, hab = 36 + 9 = 45

i = 10, hab = 45 + 10 = 55

In [ ]:
i = 5, hab = 0 + 5 = 5

i = 10, hab = 5 + 10 = 15

i = 15, hab = 15 + 15 = 30

i = 20, hab = 30 + 20 = 50

i = 25, hab = 50 + 25 = 75

169.

In [281]:
even_hab = 0

for i in range(1,11,2):
    even_hab = even_hab + i
    print('변수=',i,'합계=',even_hab)

print(even_hab)

변수= 1 합계= 1
변수= 3 합계= 4
변수= 5 합계= 9
변수= 7 합계= 16
변수= 9 합계= 25
25

170.

In [282]:
# 1 ~ 10까지의 숫자를 모두 곱한 값을 출력하는 프로그램 for문을 사용해 작성해라.

In [289]:
multiple = 1

for i in range(1,11):
    multiple = multiple * i
    print(multiple)

print('=======')

print(multiple)

1
2
6
24
120
720
5040
40320
362880
3628800
=======
3628800

In [ ]:
multiple = 1
multiple = multiple * i

i = 1, multiple = 1 * 1 = 1

i = 2, multiple = 1 * 2 = 2

i = 3, multiple = 2 * 3 = 6

i = 4, multiple = 6 * 4 = 24

i = 5, multiple = 24 * 5 = 120

i = 6, multiple = 120 * 6 = 720

i = 7, multiple = 720 * 7 = 5040

i = 8, multiple = 5040 * 8 = 40320

i = 9, multiple = 40320 * 9 = 362880

# 171 ~ 180 파이썬 반복문

# 171. 더 좋은 코드! - 복습하기

In [295]:
price_list = [32100,32150,32000,32500]   # 리스트 속 데이터 4개 

for i in range(4):   # i를 4번 반복해라 
    print(price_list[i])

32100
32150
32000
32500

In [296]:
price_list.append(50000)    # 원본 리스트가 수정될 경우(리스트 속 데이터 5개), 코드가 제대로 작동하지 않을 수 있음.
print(price_list)

print('========')

for i in range(4):
    print(price_list[i])

[32100, 32150, 32000, 32500, 50000]
========
32100
32150
32000
32500

In [297]:
# 문제해설 - 더 좋은 코드!

for i in range(len(price_list)):   # 리스트 속 데이터 개수만큼 반복해라 
    print(price_list[i])

32100
32150
32000
32500
50000

# 172. enumerate() - 더 좋은 코드, 복습하기

In [299]:
price_list = [32100,32150,32000,32500]

for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [303]:
# 문제해설 - enumerate(자료형)

In [302]:
fruit = ['apple','banana','strawberry','dragon-fruit','watermelon']

print(list(enumerate(fruit)))

[(0, 'apple'), (1, 'banana'), (2, 'strawberry'), (3, 'dragon-fruit'), (4, 'watermelon')]

In [304]:
price_list = [32100,32150,32000,32500]

for i, data in enumerate(price_list):   # 가격표 리스트의 인덱스 안에 있는 데이터에 대하여, 변수 i로 for문을 돌려라
    print(i,data)   # i = 인덱스, data = 인덱스에 해당하는 데이터

0 32100
1 32150
2 32000
3 32500

173.

In [305]:
price_list = [32100,32150,32000,32500]

for i in range(4):
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [308]:
price_list = [32100,32150,32000,32500]

for i in range(len(price_list)):
    print(len(price_list)-i-1,price_list[i])   # 원본 리스트가 수정되어도 적용이 가능한 좋은 코드!

3 32100
2 32150
1 32000
0 32500

# 174. 더 좋은 코드 - 복습하기!

In [316]:
price_list = [32100,32150,32000,32500]

price_list2 = [32150,32000,32500]

for i in range(len(price_list2)):
    print('1{}0'.format(i),price_list2[i])

100 32150
110 32000
120 32500

In [317]:
# 문제해설

price_list = [32100,32150,32000,32500]

for i in range(1,4):  # 변수 i에 숫자 1부터 3까지 총 세번의 바인딩을 한다. 
    print(90 + 10*i,price_list[i])   # 10*i + 90 => 인덱싱, 리스트 인덱싱해서 나온 값 : 인덱싱 넘버 누적해서 출력 가능!

100 32150
110 32000
120 32500

In [ ]:
i = 1, 90 + 10*1 => 100

i = 2, 90 + 10*2 => 110

i = 3, 90 + 10*3 => 120

# 175.    수업 들으면서 질문할것들 !!! 아직 이해가 안가는게 많음..

In [1]:
# 가 나  0 1
# 나 다  1 2
# 다 라  2 3

x = ['가','나','다','라']

print(x[0],x[1])

print(x[1],x[2])

print(x[2],x[3])

가 나
나 다
다 라

In [2]:
x = ['가','나','다','라']

for i in x:
    print(x[i])   # 리스트 슬라이싱시 인덱스 넘버는 정수만 가능

TypeError: list indices must be integers or slices, not str

In [6]:
x = ['가','나','다','라']

for i in [0,1,2]:       # for문의 자료형을 for문의 변수로 인덱싱 하지 않으면 괜찮음 ㅇㅇ ????
    print(x[i],x[i+1])

가 나
나 다
다 라

In [7]:
x = ['가','나','다','라']

for i in len(x)-1:     # len(x)-1 이건 안되는데
    print(x[0],x[i+1])

TypeError: 'int' object is not iterable

In [8]:
x = ['가','나','다','라']

for i in range(len(x)-1):   # range(leng(x)-1) 왜 이건 되지 ?!!!?!
    print(x[0],x[i+1])

가 나
가 다
가 라

176.

In [9]:
x = ['가','나','다','라','마']

# 가 나 다
# 나 다 라
# 다 라 마

In [11]:
x = ['가','나','다','라','마']

for i in range(3):
    print(x[i],x[i+1],x[i+2])

가 나 다
나 다 라
다 라 마

# 177.

In [14]:
# 파이썬 음수 인덱싱

y = ['가','나','다','라','마']

print(y[-1])
print(y[-2])

마
라

In [18]:
x = ['가','나','다','라']

# 라 다
# 다 나
# 나 가

for i in range(1,len(x)+1):   # 1 ~ 4까지 1, 2, 3, 4 
    print(x[-i],x[-i-1])
    
    
# 에러 : for문에서 range() 함수에 잘못된 값 전달 - 리스트를 순회할 때 존재하지 않는 항목에 접근하려함
# i = 1  -1,-2
# i = 2  -2,-3
# i = 3  -3,-4
# i = 4  -4,-5   --> 인덱싱시 x[-5] 부분이 없음

라 다
다 나
나 가

IndexError: list index out of range

In [21]:
x = ['가','나','다','라']

# 라 다
# 다 나
# 나 가

for i in range(1,4):   
    print(x[-i],x[-i-1])

라 다
다 나
나 가

In [24]:
# 문제해설 - 더 보편적으로 적용될 수 있는 코드 

for i in range(len(x)-1):   # for문을 4번 반복, 0,1,2,3
    print(x[len(x)-1-i],x[len(x)-2-i])

라 다
다 나
나 가

178.

In [25]:
x = [100,200,400,800]

# 우측 값과의 차분을 출력
# 100
# 200
# 400


for i in range(len(x)-1):
    print(abs(x[i+1]-x[i]))
    
# abs() - 절대값 계산 함수
# 절대값이란 ? 어떤 숫자의 부호와 상관 없이 항상 양수로 표현되는 값

100
200
400

179.

In [31]:
# 6일간의 종가 데이터
x = [100,200,400,800,1000,1300]

# 종가 데이터 3일 이동 평균을 출력하라
# 6 데이터 - 4 평균
# 7 데이터 - 5 평균
# 8 데이터 - 6 평균

for i in range(len(x)-2):
    print((x[i]+x[i+1]+x[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

# 180.  질문거리

In [42]:
low_prices = [100,200,400,800,1000]
high_prices = [150,300,430,880,1000]

volatility = []

In [43]:
for i in len(high_prices):   # range()가 있으면 되고, 없으면 안되고... 왜이러지 ?!!?!
    volatility.append(high_prices[i]-low_prices[i])

print(volatility)

TypeError: 'int' object is not iterable

In [44]:
for i in range(len(high_prices)):
    volatility.append(high_prices[i]-low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

# 181 ~ 190 파이썬 반복문

181.

In [46]:
apart = [['101호','102호'],['201호','202호'],['301호','302호']]

182.

In [49]:
stock = [['시가',100,200,300],['종가',80,210,330]]

183.

In [50]:
stock = {
    '시가':[100,200,300],
    '종가':[80,210,330]
}

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

184.

In [51]:
stock = {
    '10/10':[80,110,70,90],
    '10/11':[210,230,190,200]
}

# 185. 이중리스트에 있는 모든 데이터를 출력하는 방식 - 이중포문 - 복습하기

In [53]:
apart = [[101,102],[201,202],[301,302]]

for i in range(len(apart)):
    print(apart[i][0],'호')
    print(apart[i][1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [54]:
# 문제해설 - 중첩 for문

for x in apart:   # x = [101,102],[201,202],[301,302]
    for y in x:
        print(y,'호')
        
# 중첩 리스트 출력 방식 => 중첩 for문

101 호
102 호
201 호
202 호
301 호
302 호

In [55]:
# 연습

새미 = [['골드키위','딸기','용과'],['봄','가을'],['고양이']]  

for 좋아하는_집합 in 새미:
    for 좋아하는_것들 in 좋아하는_집합:
        print(좋아하는_것들)

골드키위
딸기
용과
봄
가을
고양이

186.

In [59]:
apart = [[101,102],[201,202],[301,302]]

print(apart[2][1])
print(apart[2][0])
print(apart[1][1])
print(apart[1][0])
print(apart[0][1])
print(apart[0][0])

302
301
202
201
102
101

In [64]:
apart = [[101,102],[201,202],[301,302]]   # len(apart) = 3

for i in range(1,len(apart)+1):   # i = 1, 2, 3
    print(apart[-i][-1],'호')
    print(apart[-i][-2],'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [66]:
# 문제해설 : 리스트 슬라이싱 및 오프셋 활용

test = [1,2,3,4,5]

print(test[::-1])

# 슬라이싱 + 오프셋 : 자료구조 맨 마지막부터 순차적으로 반환

[5, 4, 3, 2, 1]

In [69]:
apart = [[101,102],[201,202],[301,302]]

for i in apart[::-1]:   # i = [301,302],[201,202],[101,102]
    for x in i:
        print(x,'호')

301 호
302 호
201 호
202 호
101 호
102 호

187.

In [70]:
apart = [[101,102],[201,202],[301,302]]

for i in apart[::-1]:   # i = [301,302],[201,202],[101,102]
    for x in i[::-1]:
        print(x,'호')

302 호
301 호
202 호
201 호
102 호
101 호

188.

In [72]:
apart = [[101,102],[201,202],[301,302]]

for i in apart:
    for x in i:
        print(x,'호')
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

189.

In [73]:
apart = [[101,102],[201,202],[301,302]]

for i in apart:
    for x in i:
        print(x,'호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

190.

In [74]:
apart = [[101,102],[201,202],[301,302]]

for i in apart:
    for x in i:
        print(x,'호')

print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191 ~ 200 파이썬 반복문

191.

In [82]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for x in i:
        print(x * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

192.

In [83]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for x in i:
        print(x * 1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

!! 퍼센테이지 곱할 때 주의!!

100% = 1

10% = 0.1

1% = 0.01

0.1% = 0.001

0.01%= 0.0001

0.001%= 0.00001

193.

In [85]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data:
    for x in i:
        result.append(x * 1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

# 194.  복습하기

In [87]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
result_small = []

for i in data:
    for x in i:
        result_small.append(x * 1.00014)
    result.append(result_small)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [88]:
# 문제해설

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

rul = []

for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    rul.append(sub)

print(rul)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [89]:
data = [
    [1, 2, 3],
    [5, 10, 15],
]

result = []
result_small = []                          # sub가 포문 바깥에 있는 경우

for i in data:
    for x in i:
        result_small.append(x * 10)   # result_small = [10,20,30] / [50,100,150]
    result.append(result_small)       # result = [[10,20,30]]

print(result)

[[10, 20, 30, 50, 100, 150], [10, 20, 30, 50, 100, 150]]

In [90]:
data = [
    [1, 2, 3],
    [5, 10, 15],
]

rul = []

for line in data:
    sub = []                               # sub가 포문 안에 있는 경우
    for column in line:
        sub.append(column * 10)
    rul.append(sub)

print(rul)

[[10, 20, 30], [50, 100, 150]]

In [98]:
data = [
    [1, 2, 3],
    [5, 10, 15],
]

result = []
result_small = []                          # sub가 포문 바깥에 있는 경우

for i in data:
    for x in i:
        result_small.append(x * 10)   # result_small = [10,20,30] / [50,100,150]
        print(result_small)
        print('-'*5)
    result.append(result_small)       # result = [[10,20,30]]
    print(result)
    print('+'*5)
    print(' '*5)

print('*'*5)    
print(result)

[10]
-----
[10, 20]
-----
[10, 20, 30]
-----
[[10, 20, 30]]
+++++

[10, 20, 30, 50]
-----
[10, 20, 30, 50, 100]
-----
[10, 20, 30, 50, 100, 150]
-----
[[10, 20, 30, 50, 100, 150], [10, 20, 30, 50, 100, 150]]
+++++

*****
[[10, 20, 30, 50, 100, 150], [10, 20, 30, 50, 100, 150]]

In [99]:
data = [
    [1, 2, 3],
    [5, 10, 15],
]

rul = []

for line in data:
    sub = []                               # sub가 포문 안에 있는 경우
    for column in line:
        sub.append(column * 10)
        print(result_small)
        print('-'*5)
        
    rul.append(sub)
    print('+'*5)
    print(' '*5)

print('*'*5)
print(rul)

[10, 20, 30, 50, 100, 150]
-----
[10, 20, 30, 50, 100, 150]
-----
[10, 20, 30, 50, 100, 150]
-----
+++++

[10, 20, 30, 50, 100, 150]
-----
[10, 20, 30, 50, 100, 150]
-----
[10, 20, 30, 50, 100, 150]
-----
+++++

*****
[[10, 20, 30], [50, 100, 150]]

195.

In [106]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [107]:
for i in range(1,len(ohlc)):
    for x in i:       # 정수형 변수를 for문에서 반복하려고 시도할 경우 에러
        print(x[3])

TypeError: 'int' object is not iterable

In [108]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc:
    for x in i:       
        print(x[0])

o
h
l
c

TypeError: 'int' object is not subscriptable

In [136]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

for i in ohlc:
    for x in range(len(ohlc)):   # x = 0, 1, 2, 3
        if x == 3:   
            print(i[x])

close
100
190
310

In [ ]:
i = ['open','high','low','close']
    x = 'open'
    x = 'high'
    x = 'low'
    x = 'close'

i = [100,110,70,100]

i = [200,210,180,190]

i = [300,310,300,310]

In [137]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

for i in ohlc:
    for x in range(len(ohlc)):   # x = 0, 1, 2, 3
        if x == 3:   
            print(i[x])

close
100
190
310

In [2]:
# 문제해설
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]


for i in ohlc[1:]:
    print(i[3])

100
190
310

196.

In [3]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]


for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

197.

In [4]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]


for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

198.

In [10]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

for i in ohlc[1:]:
    volatility = []
    
    x = i[1]-i[2]
    volatility.append(x)
    
    print(volatility)

[40]
[30]
[10]

In [6]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

volatility = []                      # 빈 리스트 위치에 따른 출력값 변화 관찰!

for i in ohlc[1:]:
    
    x = i[1]-i[2]
    volatility.append(x)
    
    print(volatility)

[40]
[40, 30]
[40, 30, 10]

In [18]:
# 문제해설

ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
    
print(volatility)

[40, 30, 10]

In [19]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

for i in ohlc[1:]:
    volatility = []
    volatility.append(i[1]-i[2])
    
print(volatility)

[10]

199.

In [20]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

# 종가가 시가보다 높은 날의 변동성(고가-저가) 출력

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

200.

In [26]:
ohlc = [
    ['open','high','low','close'],
    [100,110,70,100],
    [200,210,180,190],
    [300,310,300,310]
]

# 시가에서 매수, 종가에서 매도했을 경우 총 수익금은?

y = []

for i in ohlc[1:]:
    x = i[3]-i[0]
    y.append(x)

print(sum(y))

0

In [28]:
# 문제해설

profit = 0

for i in ohlc[1:]:
    profit += (i[3]-i[0])   # +=의 의미 ?

print(profit)

0